/* stylelint-disable selector-list-comma-newline-after */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.icon-fw{text-align:center; width:1.25em}
.iconfont{font-size:1em}
a:hover{text-decoration:none}
/*#banner{background: url(images/back_blue.png) no-repeat;background-size:100%}*/
#banner_title{position:absolute; top:10px; left:30px}
#banner_subtitle{position:absolute; bottom:5px; left:30px}
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.blog-post ul{padding:0;margin:1rem 0; list-style-position: inside}
.post_content img{max-width:100%; height:auto}
@media only screen and (min-width: 26px)
{
	#banner_title{font-size:14px; top:15px;}
	#banner_subtitle{font-size:12px}
	#banner_subtitle{ margin:0}
	/*#banner{height:70px}*/
}
@media only screen and (min-width: 576px)
{
	#banner_title{font-size:16px; top:15px;}
	#banner_subtitle{font-size:14px;bottom:10px; }
	/*#banner{height:73px}*/
}
@media only screen and (min-width: 768px)
{
	#banner_title{font-size:20px; top:20px;}
	#banner_subtitle{font-size:16px;bottom:10px; }
	/*#banner{height:98px}*/
}
@media only screen and (min-width: 992px)
{
	#banner_title{font-size:28px; top:30px;}
	#banner_subtitle{font-size:20px;bottom:20px; }
	/*#banner{height:133px}*/
}
@media only screen and (min-width: 1200px)
{
	#banner_title{font-size:36px; top:50px;}
	#banner_subtitle{font-size:24px;bottom:20px; }
	/*#banner{height:159px}*/
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


.person_menu{ padding:0;margin:0}

.person_menu li{ list-style: none; line-height: 3; padding:0 1rem}
.person_menu li:hover{background:#eee}


.person_menu li.current:hover{background:#0b0b0b}
.person_menu li.current a{color:white}


.table_1px_line_grey{border-left:0; border-top:1px #ccc solid; border-right:0; border-bottom:0}
.table_1px_line_grey td{border-right:0; border-bottom:1px #ccc solid; border-left:0; border-top:0; padding:5px; }
.table_1px_line_grey th{border-right:0; border-bottom:1px #ccc solid; border-left:0; border-top:0; background:#e2e2e2; padding:3px 5px; white-space:nowrap; text-align:left}

.ui-dialog{font-size:12px}

.hide{display:none}
.hide_tmp{display:none}

.link {color: #156bb5; text-decoration: none; cursor:pointer}
.link:hover {color:#008ae7}


.sponsor_ul{list-style:none; padding:0; margin:0}
.sponsor_ul li{display: inline-block; padding:1em}



